VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_MASTRA_URL=http://127.0.0.1:4111
DODO_PRODUCT_ID_CORE=pdt_0Na8Ptv07nY2Oh9OmN9hO
DODO_PRODUCT_ID_PRO=pdt_0Na8QC90xJqlCqYQ3RfKI
DODO_PRODUCT_ID_POWER=pdt_0Na8QNX7jb2BgSoYiHsmY
GENESIS_DESKTOP_WINDOWS_CERTIFICATE_THUMBPRINT=
GENESIS_DESKTOP_WINDOWS_SIGN_COMMAND=
APPLE_SIGNING_IDENTITY=
APPLE_PROVIDER_SHORT_NAME=
APPLE_CERTIFICATE=
APPLE_CERTIFICATE_PASSWORD=
APPLE_API_ISSUER=
APPLE_API_KEY=
APPLE_API_KEY_PATH=
